name: Update Dollar Rates


  schedule:
    - cron: '0 13 * * *'
    - cron: '0 16 * * *'
    - cron: '0 19 * * *'
    - cron: '0 1 * * *'
    - cron: '*/15 20-23 * * 1-5'

    
    # BCV Window (4pm - 7pm VET) Every 15 mins Mon-Fri
    - cron: '0 13 * * *'  # 9am VET
    - cron: '*/15 20-23 * * 1-5'
    
   workflow_dispatch:T # Permite ejecutar manualmente

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run scraper
        run: python scraper.py

      - name: Commit and push changes
        run: |
          git config --global user.name "Github Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "Update rates: $(date)" || echo "No changes to commit"
          git push
